@media only screen and (min-width: 992px) {
  :root {
    --font-size-standard: 16px
      /*12-16*/
    ;
    --font-size-title: 64px;
    --font-size-subtitle: 32px;
    --font-size-title-tertiary: 20px;
  }

  .title--center--desktop {
    text-align: center;
  }

  /* NAVBAR */
  .navbar--container--tablet {
    display: none;
  }

  .navbar--container--desktop p {
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
  }

  .navbar--container--desktop a {
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    font-weight: 300;
  }

  .navbar--container--desktop {
    font-family: var(--font-primary);
    font-size: 14px;
    display: inline;
    width: 100%;
  }

  .navbar--bg {
    color: white;
    background-color: var(--color-primary);
  }

  .navbar--top--desktop {
    white-space: nowrap;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar--top--desktop a:hover {
    color: rgb(65, 190, 248);
  }

  .navbar--bottom--desktop {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    font-weight: 300;
    font-size: 15px;

    gap: 25px;
  }

  .navbar--top--left {
    gap: 25px;
    display: flex;
  }

  .navbar--top--right {
    gap: 25px;
    display: flex;
  }

  .navbar--logo--desktop {
    cursor: pointer;
    margin-right: 20px;
    width: 90px;
  }

  /* *****HERO***** */

  .hero--container {
    margin-top: 0px;
  }

  .img--hero--decor {
    background-image: url("../images/Web/decor.svg");
    background-position: top left;

    background-repeat: no-repeat;
    background-size: 15%;
  }

  .hero--cta {
    flex-direction: row-reverse;
    margin: 0 auto;
    align-items: center;
  }

  /* 
  .hero--cta--slogan {

  } */

  .button--bg,
  .button--nobg {
    font-size: 18px;
  }

  /* ****USLUGE-HOME**** */

  .hero--container--services {
    display: flex;
    /* gap: 5px; */
    flex-direction: column;
    height: 50%;
    min-height: 400px;
    max-height: 750px;
  }

  .hero--image--bg--services {
    height: 100%;
    width: 100%;
    background-position: right 50%;
  }

  .services--home {
    gap: 25px;
  }

  .img--hero--decor--services {
    background-image: url("../images/Web/decor.svg");
    background-position: top left;

    background-repeat: no-repeat;
    background-size: 12%;
    position: relative;
  }

  /* ****ABOUT US**** */

  .abt--us--home {
    flex-direction: row;
  }

  /* ****STATISTICS**** */

  .stats--box--container {
    padding: 3rem 0;
  }

  .stats--box {
    width: auto;
    flex: 1 1 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding: 3.5rem 3rem;
  }

  .comments--box {
    padding: 30px;
    transform: scale(0.8);
    align-items: stretch;
  }

  .owl-item.active.center .comments--box {
    transition: background-color 0.2s ease-in;
    background-color: var(--color-message);
    color: white;
    padding: 30px;
    transform: scale(1);
  }

  .owl-item.active.center .comments--box strong {
    color: white !important;
  }

  .owl-item.active.center .comments--box p:not(:first-child) {
    font-weight: 100;
  }

  .owl-item.active.center .comments--quote {

    background-image: url(../images/Web/quote-test.svg);
  }


  /* FAQ */
  .accordion--splitter {
    display: inline-block;
  }

  /* ****FORM**** */

  .venus--image {
    width: 90%;
  }

  /* FOOTER */
  .footer--container {
    display: none;
  }

  .footer--container--desktop {
    display: block !important;
    width: 100%;
    background-color: var(--color-primary);
  }

  .footer--info--desktop {
    color: white;
    gap: 2%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 50px;
    font-size: calc(var(--font-size-standard) - 2px);
    font-weight: 200;
  }

  .footer--info--desktop img {
    max-width: 250px;
  }

  .footer--info--desktop a:hover {
    color: rgb(65, 190, 248);
  }

  .social--media--icon:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .services--fancy--nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}


@media only screen and (min-width: 2000px) {
  .container--default, .hero--cta--services {
    max-width: 1400px;
  }

  .venus--image {
    position: unset;
  }

  .contact--background {
    margin-bottom: -60px;
    margin-top: 30px;
  }
}