/* Od 480 do 769*/
@media only screen and (max-width: 1250px) {
  .officeimage--container--desktop {
    height: 50% !important;
  }
  .officeimage--desktop-c {
    align-self: baseline;
  }
  .officeimage--desktop-a {
    align-self: end;
  }
  .officeimage--desktop-b {
    align-self: center;
  }
  .motivation--text--desktop {
    max-width: 100% !important;
  }
}
@media only screen and (min-width: 768px) {
  .navbar--container--mobile {
    display: none;
  }

  .navbar--container--desktop {
    display: none;
  }

  :root {
    --font-size-standard: 16px /*12-16*/;
    --font-size-title: 48px;
    --font-size-subtitle: 32px;
    --font-size-title-tertiary: 18px;
  }

  h1 {
    font-weight: var(--font-weight-title);
    font-family: var(--font-primary);
  }

  h2 {
    font-weight: var(--font-weight-subtitle);
    font-family: var(--font-primary);
    font-size: var(--font-size-subtitle);
  }

  h3 {
    font-family: var(--font-secondary);
    font-size: var(--font-size-title-tertiary);
  }

  h4 {
    font-weight: var(--font-weight-subtitle-medium);
    font-family: var(--font-primary);
  }

  .container--default {
    padding: 6rem 16px;
  }

  /* NAVBAR */
  .navbar--container--tablet p {
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
  }
  .navbar--container--tablet {
    display: block;
  }

  .navbar--top--tablet {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    justify-content: space-between;

    background-color: var(--color-primary);
    color: white;
  }

  .navbar--bottom--tablet {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar--tablet--left {
    display: flex;
    align-items: center;
  }
  .navbar--tablet--right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .navbar--expand--tablet a {
    display: block;
    margin-bottom: 5px;
  }
  .navbar--expand--tablet {
    padding: 20px;
    width: 40%;
    background-color: var(--color-primary);
    opacity: 0.8;
    color: white;
    position: absolute;
    left: -40%;
    height: 100%;
    z-index: 9999;
    transition: all 1s ease-in;
  }

  /* *****HERO***** */

  .hero--image--bg {
    height: 85%;
    background-position-x: 75%;
  }

  .hero--container {
    margin-top: 0;
    flex-direction: row;
    /* height: 60%; */
  }

  .hero--cta {
    flex-direction: row-reverse;
    margin: 0 auto;
    align-items: center;
    padding: 0 18px;
  }

  .hero--cta--text {
    margin-top: 50px;
  }

  .hero--dr--img {
    background-position: bottom right;
  }

  .button--bg,
  .button--nobg {
    font-size: 16px;
  }

  .hero--cta--slogan {
    text-align: left;
  }

  .hero--button--container {
    gap: 2.5rem;
  }
  .slogan--subtext {
    font-size: var(--font-size-title-tertiary);
    font-weight: 400;
  }

  /* ****USLUGE-HOME**** */

  .services--home {
    flex-wrap: nowrap;
    align-items: start;
  }

  .services--home--box {
    padding: 2rem 1.2rem;
    align-self: stretch;
  }

  /* ****ABOUT US**** */

  .abt--us--md {
    display: flex;
    flex-direction: row;
  }

  /* ****STATISTICS**** */

  .stats--box--container {
    padding: 2rem 0;
  }
  .stats--wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 100%;
  }
  .stats--box {
    flex: 1 1 0px;
    width: auto;
    padding: 2.5rem 1rem;
  }

  .stats--box--separator {
    height: auto !important;
    width: 1px !important;
  }

  /* ****MOTIVATION**** */
  .motivation--text--desktop {
    max-width: 768px;
  }
  /* .motivation--container--desktop {
  } */

  .line--background--motivation {
    background-image: url("../images/Web/bg-line-decor.svg");
    background-size: cover;
    background-position-y: -380px;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
  }

  .officeimage--container--desktop {
    display: grid;
    margin: 1.8rem 0;
    height: 65%;
    align-items: end;
    justify-items: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .officeimage--desktop {
    width: 80%;
    max-height: 420px;
    height: 420px;
    min-height: 350px;
    object-fit: cover;
    box-shadow: 15px 15px var(--gray);
  }

  .officeimage--desktop-a {
    grid-column: 1;
    grid-row: 3;
  }
  .officeimage--desktop-b {
    grid-column: 2;
    grid-row: 2;
  }
  .officeimage--desktop-c {
    grid-column: 3;
    grid-row: 1;
  }
  /* 
  .officeimage--background--desktop {
  } */

  /* ****FAQ**** */

  /* ****KOMENTARI**** */
  .comments--box {
    text-align: left;
    align-items: flex-start;
  }

  /* ****FORM**** */

  .contact--hero {
    display: flex;
    flex-direction: row;
  }

  .form--box {
    border: none;
    border-bottom: solid 1px var(--color-message);
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
  }

  .form--textarea {
    border: none;
    border-bottom: solid 1px var(--color-message);
    margin-bottom: 20px;
    padding: 10px 0 30px;
  }

  .dropdown--menu {
    color: #000000ac;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: solid 1px var(--color-message) !important;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
    font-size: var(--font-size-standard);
  }

  /* FOOTER */
  .footer--container {
    padding-top: 100px;
  }
  .footer--grid {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: ". . . .";
    margin-bottom: 60px;
    margin-top: 60px;
  }
}
