
@media only screen and (min-width: 992px) {
  :root {
    --font-size-standard: 18px /*12-16*/;
    --font-size-title: 64px;
    --font-size-subtitle: 32px;
    --font-size-title-tertiary: 20px;
  }

  .title--center--desktop{
    text-align: center;
  }

  /* NAVBAR */
  .navbar--container--tablet{
    display:none;
  }
  .navbar--container--desktop p {
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
  }

  .navbar--container--desktop {
   
    font-family: var(--font-primary);
    font-size: 14px;
    display: inline;
    width: 100%;
  }

  
  
  .navbar--bg{
    color: white;
    background-color: var(--color-primary);
  }

  .navbar--top--desktop {
    white-space: nowrap;
    height:45px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .navbar--bottom--desktop {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;

    
    gap: 25px;
  }

  .navbar--top--left {
    gap: 25px;
    display: flex;
  }

  .navbar--top--right {
    gap: 25px;
    display: flex;
  }

  .navbar--logo--desktop {
    margin-right: 2%;
  }

  /* *****HERO***** */

  .hero--container {
    height: 90%;
    margin-bottom: 100px;
    margin-top: 0px;
  }

  .hero--cta {
    flex-direction: row-reverse;
    margin: 0 auto;
    align-items: center;
  }

  .button--bg,
  .button--nobg {
    font-size: 18px;
  }

  /* ****USLUGE-HOME**** */

  .services--home {
    gap: 25px;
  }

  /* ****ABOUT US**** */

  .abt--us--home {
    flex-direction: row;
  }

  /* ****STATISTICS**** */

  .stats--box--container {
    padding: 1rem 0;
  }

  .stats--box {
    width: auto;
    padding: 3.5rem 1rem;
  }



  /* FAQ */
  .accordion--splitter {
    display: inline-block;
  }

  /* FOOTER */
  .footer--container{
    display: none;
  }

  .footer--container--desktop{
    display:block !important;
    width:100%;
    background-color: var(--color-primary);
  }

  .footer--info--desktop{
    text-wrap: nowrap;
    color: white;
    gap: 2%;
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 50px;
  }
}
