:root {
  /* --color-primary: #0fbea1; */
  /* --color-secondary: #21a1c8; */
  --black: #000000;
  --white: #ffffff;
  --gray: #dde7f3;
  --color-primary: #008D96;

  --color-secondary: rgb(0, 141, 150);
  --color-message: #e0007b;
  --color-text: #2b2b2b;
  --font-primary: "Poppins", sans-serif;

  --font-secondary: "corbertregular", sans-serif;
  --font-size-standard: 14px
    /*12-16*/
  ;
  --font-size-title: 34px;
  --font-size-subtitle: 30px;
  --font-size-title-tertiary: 18px;

  --font-weight-title: 700;
  --font-weight-subtitle: 600;
  --font-weight-subtitle-medium: 500;
  --font-weight-text: 400;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
p {
  margin-bottom: 1rem;
}

input {
  display: block;
}

h1 {
  font-weight: var(--font-weight-title);
  font-family: var(--font-primary);
}

h2 {
  font-weight: var(--font-weight-subtitle);
  font-family: var(--font-primary);
  font-size: var(--font-size-subtitle);
}

h3 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-title-tertiary);
}

h4 {
  font-weight: var(--font-weight-subtitle-medium);
  font-family: var(--font-primary);
  font-size: 17px;
}

/* Od 0 do 480px*/

@font-face {
  font-family: "hogbineregular";
  src: url("../fonts/hogbine-webfont.woff2") format("woff2"),
    url("../fonts/hogbine-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "corbertregular";
  src: url("../fonts/corbert-regular-webfont.woff2") format("woff2"),
    url("../fonts/corbert-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--font-secondary);
  font-size: var(--font-size-standard);
}
/* NAVBAR */

.navbar--container--tablet{
  display: none;
}

.navbar--container--tablet{
  display:none;
}

.navbar--container--desktop {
  display: none;
}

.navbar--mobile a {
  color: var(--white) !important;
  text-decoration: none !important;
}

.navbar--container--mobile {
  position: fixed;
  z-index: 9999;
  color: white;
  top: 0;
  left: 0;
}

.navbar--mobile {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 37px;
  background-color: var(--color-secondary) !important;
  font-family: var(--font-secondary);
}

.navbar--mobile p {
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
}

.navbar--logo--mobile {
  height: 100%;
}

.mobile--default--margin {
  margin: 5%;
}

.navbar--expand--mobile {
  position: absolute;
  background-color: var(--color-secondary) !important;
  font-family: var(--font-secondary);
  top: 37px;
  left: -80vw;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
  transition: left 1s ease-in;
}

/* *****HERO***** */


.hero--container{
  display: flex;
  gap: 5px;
  flex-direction: column;
  height: 100%;
  margin-top: 37px;
  min-height: 400px;
}

.hero--image--bg {
  background-image: url("../images/Web/Klinika-10.jpg");
  width: 100%;
  height: 70%;
  margin-top: 0;
  background-size: cover;
  background-position: center;
  border-radius: 0rem 6.375rem 0rem 6.6875rem;

}

.hero--cta {
  max-width: 1200px;
  height: 100%;
  flex-direction: column;

}

.hero--dr--img {
  background-image: url("../images/Web/dr_josip.png");
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}


.button--bg, .button--nobg {
  font-size: 16px;
  border-radius: 3.3rem;
  padding: 5px 15px;
  min-width: max-content;
}



.button--bg {
  background-color: var(--color-primary);
  color: var(--white);
  border: none;
}

.button--nobg {
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
  backdrop-filter: blur(5px);
  background-color: #ffffffb4;

}

.hero--cta--slogan {
  text-align: center;
  font-size: var(--font-size-title);
  font-family: var(--font-primary) !important;
  font-weight: 700;
  color: var(--color-text);
}

.hero--cta--zdravlje {
  color: var(--color-secondary);
}



/* ****USLUGE-HOME**** */

.container--default {
  max-width: 1200px;
  margin: auto;
  padding: 30px 16px;
  position: relative;
}

.container--default:last-of-type {
  padding: 0 14px !important;
}

.services--home {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;

  
}

.services--home--box {
  background-color: rgb(240, 242, 242);
  position: relative;
  padding: 3.5rem 2.5rem;
  text-align: center;
  flex: auto;
  gap: 10px;

}

.services--home--box:before {
  content: "";
  width: 90%;
  height: 30px;
  background-color: var(--color-secondary);
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -45%;
  opacity: 1;
  z-index: -1;

}

/* ****ABOUT US**** */
.abt--us--home {
  flex-direction: column;
  gap: 20px;
}
.abt--us--img {
  text-align: center;
}
/* ****STATISTICS**** */

.stats--box--container {
  background-image: url("../images/Web/Klinika-24.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.stats--wrapper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}

.stats--box {
  padding: 3.7rem 0;
}
.stats--box--separator {
 background-color: rgb(255, 255, 255);
 width:auto;
 height: 1px;
}
.stats--box p {
  margin-bottom: 0;
}


.span--highlight {
  color: var(--color-secondary);
  font-weight: 700;
}


/* ****FAQ**** */

.faq--box {
  padding: 15px;
  margin-bottom: 15px;
  background-color: rgb(240, 242, 242);
  max-width: 100%;
}

.accordion-item {
  border-color: rgb(240, 242, 242) !important;
  background-color: rgb(240, 242, 242) !important;
  border-radius: 0px !important;
}

.accordion-button {
  border-color: rgb(240, 242, 242) !important;
  background-color: rgb(240, 242, 242) !important;
  border-radius: 0px !important;
}

.faq--question {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq--answer {
  opacity: 0;
  pointer-events: none;
  height: 0;
}

/* FOOTER */
.footer--container p {
  margin-block-start: auto !important;
  margin-block-end: auto !important;
  margin-inline-start: auto !important;
  margin-inline-end: auto !important;
}

.footer--container {
  display: grid;

  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    "."
    ".";
  color: white;
  font-weight: 200;
  background-color: var(--color-secondary);
}

.footer--grid {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;

  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". .";
}

.footer--text--bold {
  font-weight: 700;
}

.footer--grid--box {
  padding: 5%;
}

.footer--logo {
  margin: auto;
}

.footer--social--media {
  margin: auto;
}

.footer--copyright {
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height:60px;
}

.officeimage--container--mobile {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.officeimage--background--mobile {
  background-image: url("../images/backgroundline.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.officeimage--mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 0px;
}
/* KOMENTARI REVIEW */
.owl-dots .active span{
  background-color: var(--color-primary) !important;
  background: var(--color-primary) !important;

}
.owl-dot span{
  background-color: white !important;
  border: solid 1px var(--color-primary) !important;


}


.comments--box{
  font-size: 18px;
  padding:35px;
  height: 270px;
  border-radius: 78px; 
  border: 1px #008D96 solid;
}
/* ****FORM**** */

.form--box {
  border: none;
  border-bottom: solid 1px var(--color-secondary);
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0;

}

.form--textarea {
  border: none;
  border-bottom: solid 1px var(--color-secondary);
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0 30px;

}

.dropdown--menu {
  color: #000000ac;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: solid 1px var(--color-secondary) !important;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0;
  font-size: var(--font-size-standard);

}